@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

* {
  user-select: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
